body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../images/monochrome.jpg');
  background-size: cover;
  position: relative; /* Make the body a relative positioning context */
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background: #e0e0e0; /* Light gray calculator background */
  border: 2px solid #ccc;
  border-radius: 15px;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input {
  grid-column: span 4;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  background-color: #d0d0d0; /* Medium gray input background */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c0c0c0; /* Darker gray buttons */
  color: #333;
}

.delete-button {
  background-color: #a0a0a0; /* Dark gray for delete button */
  color: #fff;
}

.equal-button {
  background-color: #808080; /* Gray for equal button */
  color: #fff;
}

button:hover {
  background-color: #b0b0b0; /* Slightly lighter gray on hover */
}
